<h1><p class="title">AWSOME TODO APP</p></h1>
<br>
<lib-head></lib-head>

<div>
<p class="day">TODAY</p><p class="date">$CURRENT_DAY $CURRENT_MONTH</p>
</div>

<div>
<p class="line"></p>
</div>

<div>
<p class="get">Get a clear view of the day ahead</p>
</div>

<div>
<p class="tasks">All your tasks that are due today will show up here.</p>
</div>


        <img src ="https://content-pixie-NvZvtjn6Wrg-unsplash.jpg" width="400">    
   
        <img src ="https://jessica-lewis-fJXv46LT7Xk-unsplash.jpg" width="400">    

        <img src ="https://elly-sikkema-LM17xCofKA0-unsplash.jpg" width="400">    
      
