/* You can add global styles to this file, and also import other style files */

.title {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    background-color: #7749F8;
}